!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Barra
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    //link(rel='stylesheet', href='/css/materialize.min.css')
    style(type='text/css')
      * {
        box-sizing: border-box;
      }
      body {
      background-color:#9adbce;
      padding-top: 20px;
      padding-bottom: 60px;
      }
      /* Custom container */
      .container {
      margin: 0 auto;
      max-width: 1000px;
      }
      .container > hr {
      margin: 60px 0;
      }
      /* Main marketing message and sign up button */
      .jumbotron {
      margin: 80px 0;
      text-align: center;
      }
      .jumbotron h1 {
      font-size: 100px;
      line-height: 1;
      }
      .jumbotron .lead {
      font-size: 24px;
      line-height: 1.25;
      }
      .jumbotron .btn {
      font-size: 21px;
      padding: 14px 24px;
      }
      /* Supporting marketing content */
      .marketing {
      margin: 60px 0;
      }
      .marketing p + h4 {
      margin-top: 28px;
      }
      /* Customize the navbar links to be fill the entire space of the .navbar */
      .navbar .navbar-inner {
      padding: 0;
      }
      .navbar .nav {
      margin: 0;
      }
      .navbar .nav li {
      display: table-cell;
      width: 1%;
      float: none;
      }
      .navbar .nav li a {
      font-weight: bold;
      text-align: center;
      border-left: 1px solid rgba(255,255,255,.75);
      border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
      border-left: 0;
      border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
      border-right: 0;
      border-radius: 0 3px 3px 0;
      }
      .span4 p{
        margin-top:20px;
        text-align:center;
        font-size:30px;
      }
      .span4{
        height: auto;
        padding: 1.9em 0.9em 1.6em;
        pointer-events: auto;
        text-align: center;
        color: #173d50;
        background-color: rgba(23, 61, 80, 0.06);
      }.span8 p{
        margin-top:20px;
        text-align:center;
        font-size:30px;
      }
      .span8{
        height: auto;
        padding: 1.9em 0.9em 1.6em;
        pointer-events: auto;
        text-align: center;
        color: #173d50;
        background-color: rgba(23, 61, 80, 0.06);
      }
      select{
        width:3.5em;
        margin-top:10px;
      }
      #fixedButton{
        margin:auto;
        height:50px;
        width:100%;
        margin-top:30px;
      }
      .span4.drink-names p{
        text-align: center;
      }
      .span4.drink-quantity p{
        text-align: center;
      }
      .span4.drink-values p{
        text-align: center;
      }
      .span4.empty{
        background-color: transparent;
      }
      .resumeheader{
        height: 54px;
        padding-top: 0px;
      }
      .scroll-down{
        position: fixed;
        right: 50px;
        bottom: 50px;
      }
      .modal{
        width:700px;        
      }
      .modal-body{
        max-height:600px;
      }
      .modal-footer{
        display:none;
      }
      p.resultAjax{
        text-align:left;
      }
      .span8.result-data p{
        font-size:16px;
      }
      .result-data-user p{
        font-size:16px;
      }
      input#pinpulsera{
        width:49px;
      }
      input#lectorpulsera{
        width:118px;
      }
    //link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    //link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    //link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    //link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    //link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    //link(rel='shortcut icon', href='/ico/favicon.png')
  body
    .container
      div.modal.hide#myModal
        .modal-header
            button(type="button", class="close", data-dismiss="modal") x
            h3 Resumen del pedido
        .modal-body            
            .row-fluid
              .span4.drink-names.resumeheader
                p Productos
              .span4.drink-quantity.resumeheader
                p Cantidad
              .span4.drink-values.resumeheader
                p Valor
            hr
            .row-fluid
              .span4.drink-names.data
                hr
              .span4.drink-quantity.data
                hr
              .span4.drink-values.data
                hr
            hr
            .row-fluid
              .span8.confirm.resumeheader
                p Confirmar pedido
              .span4.total.resumeheader
                p Total
            hr
            .row-fluid
              .span8.result-data
                .carro-vacio
                  p Canasta de compras vacía
                .carro-con-productos
                  p Acerque la pulser al lector:
                  input#lectorpulsera(type='text',name='numpulsera',maxlength='10')
                .result-data-user
                  p.pulsera-no-encontrada ¡Pulsera no encontrada!
                  .form-confirmar-compra-div
                    form(id='form-confirmar-compra',method='post')
                      .form-nombre-usuario
                      .form-saldo-usuario
                      .form-saldo-insuficiente 
                        p(style='color:red')¡Saldo insuficiente!
                      input#pin-pulsera(type='password', maxlength='4',id='pinpulsera')br
                      input#boton-confirmar(type='button', class='btn btn-success',value='Confirmar')
                      &nbsp;
                      input(type='reset',class='btn btn-danger botonReset',value='Borrar Datos')                   

              .span4.drink-result
              
        .modal-footer

      .scroll-down
        img(src='/img/scroll_btn_dred.svg', width='50px')
      
      .masthead
        ul.nav.nav-pills.pull-right
          li
            a(href='/') Home
          li.active
            a(href='/Barra') Barra
          li
            a(href='#') Administración
          li
            a(href='/signin') Usuarios
        h3.muted PartyBand
      .jumbotron
        h1 ¡Barra del Bar!
        p.lead
          | Aquí encontrarás todos los bebestibles del bar.
        <!--a.btn.btn-large.btn-success(href='#') Get started today-->
        - let currentProd = 0
        - for (let row = 0; row <= data.length / 3; row++)
          hr
          .row-fluid
            - for (let prod = 1; prod <= 3; prod++)
              - if (currentProd < data.length)
                .span4
                  img(src='/img/drinks/#{data[currentProd].nombre}.png', width='100')
                  p #{data[currentProd].nombre} 
                  p $#{data[currentProd].valor}
                  p.desc 
                    i "#{data[currentProd].descripcion}"
                  p #{data[currentProd].categoria}
                  select(name='dropdown')
                    - for(let j = 0; j <= 5; j++)
                      option(value='#{j}+#{data[currentProd].nombre}+#{data[currentProd].valor}+#{data[currentProd].codp}') #{j}
                - currentProd++
        
        hr
        a.btn.btn-large.btn-success#fixedButton(href='/barra') Checkout
      hr
      .footer
        p © PartyBand 2016
  include ../partials/scripts
